body {
  text-align: center;
}

.container > [class*="col-"] {
  border: 1px solid black;
  height: 150px;
  background-color: pink;
  padding: 5px;
  line-height: 150px;
}
.container > [class*="col-"] > [class*="col-"] {
  background-color: red;
  height: 140px;
  border: 1px solid pink;
}
