body {
  text-align: center;
}

.container > [class*="col-"] {
  border: 1px solid black;
  height: 150px;
  background-color: pink;
  line-height: 150px;
}
.container > [class*="col-"] .container > [class*="col-"] {
  background-color: red;
  height: 142px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid pink;
}
